*{  // con el * se indica que todo lo que este dentro de los () se ejecutara para todo el codigo
  padding: 0; //elimina el padding para que el navegador por el por defecto
  margin: 0;  // elimina el margin;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box; /*si le damos 200px al un contenerdo y luego le agregamos
                          un padding, el tamaña 200 incluirá el padding haciendo el ancho dinamico*/
 }
 h1{
   margin: auto;
   color: rgb(13, 0, 158);
   font-size: 22px;

 }
body{
  background: #ffffff;
  font-size: 16px;
  font-family:"Baloo", Arial,sans-serif;
}

.contenedor{

    width: 90%;
    max-width: 500px;
     margin: auto; /*con este margen se centra el formulario*/
}

 form{
  width: 100%;  /*ancho 100%*/
  margin: 20px 0; /*margen arriba y abajo de 20px*/
  padding: 20px;  /* un margen interior 20px*/
  background: #dcf7f5; /*fondo blanco*/
  overflow: hidden;
  box-shadow: 0 0 3px grey; /*sombra gris de 3px*/
  border-top: 4px solid #536DFE; /* borde azul en la parte superior*/
  border-radius: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea{
  border: 1px solid rgb(0, 33, 255);
  border-radius: 20px;
  padding: 16px; */
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-family: "Baloo", Arial,sans-serif;
  font-size: 1em;
  color: rgb(4, 1, 57);
}/*se le aplica estos estilos a cada uno de los imputs*/

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus{
  border: 2px solid rgb(12, 28, 180);
  padding: 15;

}/*se le aplica estos estilos a cada uno de los imputs cuando se les de click*/


form textarea{ /* reglas para temaño max del textarea*/
  max-width: 100%;
  min-width: 100%;
  max-height: : 100%;
  min-height: 100%;
}

.alert{
  padding:  1em;
  color:rgb(6, 13, 110) ;
  border-radius: 7pc;
  margin-bottom: 10px;
  font-size: 14px;
}
.alert.error{
  background: rgb(250, 199, 145);
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 11, 11);
}
.alert.success{
  background: rgb(180, 255, 185);
  border: 2px solid rgb(9, 111, 22);
  color: rgb(39, 107, 33);
}

.btn-enviar,
 form input[type="submit"]{
   padding: 15px;
   background:rgb(47, 150, 245);
   color: rgb(0, 8, 120);
   font-size: 1em;
   font-family: "Baloo",Arial,sans-serif;
   border-radius: 15px;
   border: none;
   cursor: pointer;
   float: right;
 }

.btn-enviar,
form input[type="submit"]:hover{
  background: rgb(5, 0, 251);
  color: rgb(255, 255, 255);
}
